{# Post List #}

{% extends 'base.j2' %}
{% block content %}
<div class="container my-3">
    <table class="table">
        <thead>
            <tr class="text-center table-dark">
                <th>Post Number</th>
                <th style="width:50%">Title</th>
                <th>Author</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% if post_list %}
            {% for post in post_list %}
            <tr class="text-center">
                <td>{{ loop.index }}</td>
                <td class="text-start">
                    <a href="{{ url_for('post.detail', post_id=post.id) }}">{{ post.subject }}</a>
                    {% if post.comment_set|length > 0 %}
                    <span class="text-danger small mx-2">{{ post.comment_set|length }}</span>
                    {% endif %}
                </td>
                <td>{{ post.user.username }}</td>
                <td>
                    {{ post.create_date }}
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="3">There are no posts.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <a href="{{ url_for('post.create') }}" class='btn btn-primary'>Make a Post</a>
</div>
{% endblock %}
